.row{
    padding-top: 125px;
}
.thumbnail{
    p{
        font-size: 1em;
    }

    a{
        text-decoration: none;
    }

    
    span.cocinero{
        font-weight: 600;
        font-size: 1.5em;
    }

    span.label{
        float: right;
    }

    


}