<!--RECETA DETALLE-->

<!--{{receta | json}}-->


<div class="col-sm-6 col-md-6">
        <div class="para_gluten">
                <img class="gluten_icon" *ngIf="receta.isGlutenFree" src="assets\img\gluten_free_icon.png" alt="icono con gluten">
                <img class="gluten_icon" *ngIf="!receta.isGlutenFree" src="assets\img\gluten_icon.png" alt="icono sin gluten">
        </div>
                <img class="img_receta" src="{{receta.foto}}" alt="{{receta.nombre}}">
                <h2>{{receta.nombre}}</h2>
</div>
                
<div class="col-sm-6 col-md-6">
        <div class="box-ingredients">
                <h4><span class="title-line">Ingredientes</span></h4>
                <ul>
                        <li *ngFor="let ingredientes of receta.ingredientes">{{ingredientes}}</li> 
                </ul>
        </div>           
</div>

<div class="col-md-6">
         <ul class="chef">
                <li>
                        <span>Cocinero/a</span> 
                        <span>{{receta.cocinero}}</span>
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"> {{receta.likes}} </span>     
                </li>
        </ul>
</div>

<div class="clearfix"></div>

<div class="col-md-12">
       <h3>Descripción</h3>
        <p>{{receta.descripcion}}.</p>
</div>
              
