<p>Ejemplo de un componente padre<b>ConcesionarioComponent</b> e hijo<b>CocheComponent</b></p>
<p>Aprender a pasar párametros de uno a otro con @input y @output</p>


<nav aria-label="Page navigation">
    <ul class="pagination">
        <li *ngFor="let coche of stock" [class.active]="coche==coche1">
            <a>{{coche.marca}} {{coche.modelo}} </a>
        </li>
    </ul>
</nav>

<div class="col-md-2">
<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Catálogo de coches</h3>
        </div>
        
        <div class="panel-body">
            
            <div>
               
                <!--llamada componente hijo-->
                <app-listado [stockParametro]="stock" 
                             (eventoEmitir)="recibirCoche($event, coche)">
                </app-listado>
            </div>
    
        </div>
    </div>
</div>

<div class="col-md-10">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Comparador</h3>
    </div>
    
    <div class="panel-body">
            <!--llamada componente hijo-->
            <app-coche [cocheParametro]="coche1">
            </app-coche>
            <app-coche [cocheParametro]="coche2">
            </app-coche>
     

    </div>
</div>
</div>
