<section id="propiedades">
<h2>Propiedades</h2>
<p>componente para jugar con las <b>propiedades</b> página 38 del manual</p>

<h2>Propiedades Style</h2>
<p [style.color]="color"> Cambiamos el color del párrafo mediante un atributo.</p>
<p [style.backgroundColor]="color"> Cambiamos el color de fondo mediante un literal.</p>

<h2>Porpiedades html</h2>
<p [hidden]="!ocultar">VISIBLE - Podemos usar el operador de negación <b>!</b></p>
<P [hidden]="ocultar">OCULTADO - Este párrafo no se muestram,mediante CSS <code>display:none</code>.</P>
</section>
