<!--The content below is only a placeholder and can be replaced.-->

 <!-- Fixed navbar -->
 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <!-- contenido de la página -->
  <div class="container">
   <!--jumbotron--> 
   <div class="jumbotron">
      <h1>{{title}}</h1>
      
      <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>

   
   <!--fin jumbotron-->
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Iparcheff 2018</p>
    </div>
  </footer>

