

<!--COMPARADOR-->
<div class="col-sm-5 col-md-5">
    <div class="thumbnail">
      <img src="{{coche.foto}}" alt="foto{{coche.marca}} {{coche.modelo}}">
      <div class="caption">
        <h3><b>Marca </b>{{coche.marca}}</h3>
        <p><b>Puertas </b>{{coche.puertas}}</p>
        <p><b>Caballos </b>{{coche.caballos}}</p>
        <p><b>Consumo </b>{{coche.consumo}}</p>
     </div>
    </div>
</div>

<div class="col-sm-5 col-md-5">
    <div class="thumbnail">
      <img src="{{coche.foto}}" alt="foto{{coche.marca}} {{coche.modelo}}">
      <div class="caption">
        <h3><b>Marca </b>{{coche.marca}}</h3>
        <p><b>Puertas </b>{{coche.puertas}}</p>
        <p><b>Caballos </b>{{coche.caballos}}</p>
        <p><b>Consumo </b>{{coche.consumo}}</p>
     </div>
    </div>
</div>
