.thumbnail{
    p{
        font-size: 1em;
    }

    a{
        text-decoration: none;
    }

    .gluten_icon{
        position: absolute;
        top: 4%;
        left: 77%;
        width: 14%;
    }
    
    span.cocinero{
        font-weight: 600;
        font-size: 1.5em;
    }

    span.label{
        float: right;
    }

   .panel-title {
        text-decoration: none;
        color: black;
        text-align: center;
        text-transform: uppercase;
        }

    h4.panel-title:hover {
        text-decoration: none;
        }

    .badge{
        float:left;
        }
    
    span.glyphicon-chevron-down,
    span.glyphicon-chevron-down{
        float: right;
    }
}