
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="gluten_icon" *ngIf="receta.isGlutenFree" src="assets\img\gluten_free_icon.png" alt="icono con gluten">
        <img class="gluten_icon" *ngIf="!receta.isGlutenFree" src="assets\img\gluten_icon.png" alt="icono sin gluten">
        <img src="{{receta.foto}}" alt="{{receta.nombre}}">
        <div class="caption">
          <h3>{{receta.nombre}}</h3>
          <p> {{receta.descripcion | slice:0:50}}...</p>
          <span class="cocinero">{{receta.cocinero}}</span>
          <span class="label label-primary" (click)="sumarLike()"><span class="glyphicon glyphicon-heart"></span> {{receta.likes}}</span>
          
          <!--lista desplegable-->
          
          <section class="ingredientes">
            <h4 (click)="showIngredientes()">
                Ingredientes
                <span class="badge">{{receta.ingredientes.length}}</span>
                <span class="glyphicon {{glyphicon}}"  aria-hidden="true"></span>
            </h4>
      
            <ol *ngIf="show">
              <li *ngFor="let ingrediente of receta.ingredientes">
                {{ingrediente}}
              </li>              
            </ol>
          </section>
          
         <!--end lista desplegable-->
       
        </div>
      </div>
    </div>
  </div>