.container{
    padding-top:65px;

    h1, .panel-title {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Mina', sans-serif;
        font-size: 1.5em;
    }

    h1{
        font-size: 2em;
    }
}


